/* General */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
}

h1 ,h2 ,h3{
  font-family: 'Markazi Text', serif;
  line-height: 0.7;
  margin: 0;
}

h1 {
  font-size: 6.4rem;
  color: #F4CE14;
  font-weight: 500;
}

h2{
  font-size: 4rem;
  font-weight: 400;
}

.call-to-action {
  width: 20rem;
  height: 5rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  font-family: 'Karla';
  background-color: #F4CE14;
  cursor: pointer;
}

/* Header */

header {
  display: flex;
  height: 7rem;
  padding: 1rem 18%;
  justify-content: space-between;
}


header ul {
  display: flex;
  column-gap: 4rem;
}

header ul a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
}

li {
  list-style-type: none;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
}

/* Hero Section */

#hero {
  display: flex;
  justify-content: space-between;
  background-color: #495E57;
  color: white;
  padding: 3rem 18%;
}

#hero > div:first-child {
  width: 40rem;
  margin: auto 0;
}

#hero p {
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#hero img {
  width: 375px;
  height: 350px;
  border-radius: 1.6rem;
  position: relative;
  top: 8rem;
}

/* Sepcials-section */

#specials-section {
  padding: 10rem 18%;
}

#specials-section > div:first-child {
  display: flex;
  justify-content: space-between;
}

#specials-section > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5rem 0;
}

.specials-card {
  height: 44rem;
  width: 26.5rem;
  overflow: hidden;
}

.specials-card img {
  width: 26.5rem;
  height: 18.5rem;
  border-top-right-radius: 1.6rem;
  border-top-left-radius: 1.6rem;
}

.card-main{
  height: 25rem;
  padding: 1rem 2rem;
}

.card-main > span {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-main h3{
  font-size: 2.4rem;
}

.card-main h3 ~ p {
  font-size: 1.6rem;
  color:#F4CE14;
  font-weight: bold;
  margin: 0;
}

.card-main p {
  font-size: 1.6rem;
  color: #495E57;
  margin: 2rem 0;
}

.card-main button {
  font-weight: bold;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  padding: 1rem 0;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 20rem;
}